.cartWidget {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .cartWidget img {
    width: 30px;
    height: 30px;
  }
  
  .cartWidget span {
    font-size: 1rem;
    color: var(--text-color);
  }